<connectionStrings>
  <add name="EmployeeManagementSystemKtineEntities" connectionString="metadata=res://*/Entities.EMSModel.csdl|res://*/Entities.EMSModel.ssdl|res://*/Entities.EMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L7BKS9H;initial catalog=EmployeeManagementSystemKtine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>