<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Application started</h2>
            <p>Created 2 Project using layre architecture for Data Access Layer(DAL) & UI Layer & added assembly of DAL with EmployeeManagementSystemAPIForKtine UI Layer</p>
            <li>Used Repository design pattern in my DAL with Entity Frame Work.</li>
            <li>Added WebAPI Unity container in UI Layer for IOC</li>
            <li>Please, Attached my DB for Complete Application working. and change the connection string in config of UI & DAL</li>
            <p><a class="btn btn-primary" href="https://localhost:44398/api/Employee">Check API</a></p>
        </div>
    </div>
</div>

